<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" async="" src="./js/jquery.githubRepoWidget.custom.js"></script>

{% if site.blogfeed %}
	<script  type="text/javascript">
	(function() {

		$.get("{{site.blogfeed}}", function (data) {
			console.log("here..");
			console.log(data);
			$.each(data.items.slice(0,19), function (i, el) {
				var link = el.link;
				var title = el.title;
				$('#blogArticles').append("<a target='_blank' href='" + link + "'>" + title + "</a><br><br>")
			});
		},
     		"jsonp");
	})();
	</script>
{% endif %}
